---
name: kmod compatibility checks
on:
  pull_request:
    branches:
      - develop
      - main
  push:
    branches:
      - develop
      - main

jobs:
  get_debuntu_releases:
    runs-on: ubuntu-latest
    steps:
      - name: install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install curl jq
      - name: calculate available releases
        # the following does:
        # - fetch all available tags for the "buildpack-deps" Docker image
        # - fetch all available Ubuntu and Debian releases (that are still hosted on the distros' archive servers)
        # -   Debian releases are actually hardcoded to their suite names
        # - get the intersection of the tags and the releases
        # - drop some blacklisted releases (e.g. 'bionic', 'xenial')
        # - format as a JSON array
        run: |
          ubuntu_blacklist="bionic|xenial"
          # debian (hardcoded)
          debimages="unstable testing stable oldstable"
          # ubuntu (based on availability)
          debimages="${debimages} $((curl -s "https://hub.docker.com/v2/repositories/library/buildpack-deps/tags?page_size=1000" | jq -r '.results[] | .name' | sort -u; curl -s "http://archive.ubuntu.com/ubuntu/dists/" | grep "href=" | sed -e 's|.*a href="||' -e 's|".*||' -e 's|/$||') | sort | uniq -d | grep -vE "^(${ubuntu_blacklist})$")"

          # generic images
          latestimages=""

          # make images
          images=""
          # prefix deb-images with 'buildpack-deps:'
          images="$(for i in ${debimages}; do echo "${i} buildpack-deps:${i}"; done) ${images}"
          # suffix latest-images with :latest'
          images="$(for i in ${latestimages}; do echo "${i} ${i}:latest"; done) ${images}"

          # more images in name/container pairs
          images="alpine openebs/alpine-bash ${images}"

          # create a JSON matrix
          echo matrix=$(echo ${images} | xargs -n2 echo | jq -Rn '{include: [inputs] | map( split(" ") | { name:.[0], image:.[1] } )}') | tee -a ${GITHUB_OUTPUT}
        id: set-matrix
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

  kmod-compile:
    runs-on: ubuntu-latest
    needs: get_debuntu_releases
    strategy:
      matrix: ${{ fromJson(needs.get_debuntu_releases.outputs.matrix) }}
      fail-fast: false
    container: ${{ matrix.image }}
    env:
      JOB_KNOWN_FAILURES: "3.13 3.16 3.19 4.2"
    steps:
      - uses: actions/checkout@v3

      - name: Compile against all available kernel header versions
        shell: bash
        run: |
          echo "name '${{ matrix.name }}' on image '${{ matrix.image }}'"

          # Debian and derivatives
          not_debian=true; if which apt-get >/dev/null; then not_debian=false; fi
          ${not_debian} || echo "running Debian or derivative"
          deb_packages="kmod dkms lsb-release dctrl-tools linux-headers-generic linux-headers"
          ${not_debian} || apt-get update --quiet
          ${not_debian} || apt-cache show ${deb_packages} \
                | sed -e '/^Package:/!d' -e 's|^Package:[[:space:]]*||' | sort -u \
                | xargs apt-get install --yes --no-install-recommends || true
          ${not_debian} || grep-aptavail -n -s Package  -F Provides -X linux-headers -o -F Provides -X linux-headers-generic \
                | xargs apt-get install --yes --no-install-recommends || true
          ${not_debian} || apt-cache search "linux-headers-[0-9.]*-[0-9]*-" | cut -d " " -f1 \
                | sed -e 's|linux-headers-\([0-9.]*\)-[0-9]*-\(.*\)|\0 \1 \2|' | sort -t- -k3,4 -V -r | sort  -u -k2,3 -V | cut -d " " -f1 \
                | xargs apt-get install --yes --no-install-recommends || true

          # Alpine
          not_alpine=true; if which apk >/dev/null; then not_alpine=false; fi
          ${not_alpine} || echo "running Alpine or derivative"
          ${not_alpine} || apk add lsb-release build-base linux-headers linux-firmware-none
          ${not_alpine} || apk search "linux-*-dev" | grep "^linux" | sed -e 's|-dev-.*|-dev|' | xargs -n1 apk add

          # run the actual builds
          lsb_release -a
          failed=""
          allow_failed=""
          succeeded=""
          skipped=""
          for kbuild in /lib/modules/*/build; do
            test -d $kbuild || continue
            kver=${kbuild%/build}
            kver=${kver##*/}
            echo "=== Preparing ${kver} ===";
            touch "/lib/modules/${kver}/modules.builtin"
            depmod ${kver}
            echo "=== Testing ${kver} ===";
            ret=$(make KERNELRELEASE="${kver}" >&2; echo $?)
            if [ ${ret} -eq 0 ]; then
              succeeded="${succeeded} ${kver}"
              test ! -e /lib/modules/${kver}/modules.dep || ret=$(modinfo -k ${kver} v4l2loopback.ko >&2; echo $?)
            fi
            if [ ${ret} -ne 0 ]; then
              case " ${JOB_KNOWN_FAILURES} " in
              *" ${kver%.*} "*)
                echo "#### Skipped known failure ${kver}";
                allow_failed="${allow_failed} ${kver}";
                ;;
              *)
                if test -e "${kbuild}/.config" && ! grep -qE "^(CONFIG_VIDEO_DEV|CONFIG_VIDEO_V4L2)=" "${kbuild}/.config"; then
                  echo "#### Skipped failure ${kver} (no v4l2 support)";
                  skipped="${skipped} ${kver}";
                else
                  echo "#### Unexpected failure ${kver}";
                  failed="${failed} ${kver}";
                fi;
                ;;
              esac;
            fi;
            make KERNELRELEASE="${kver}" clean || test ${ret} -ne 0
          done

          # record & report the build state
          statefile=buildstate.txt
          osname="$(lsb_release -si)"
          osversion="$(lsb_release -sr)"
          osrelease="$(lsb_release -sc)"
          test "${osrelease}" != "n/a" || osrelease="${osversion}"
          rm -rf "${statefile}"
          for k in ${succeeded}; do
            echo "${osname} ${osversion} ${osrelease} ${k} success"
          done >> "${statefile}"
          for k in ${skipped}; do
            echo "${osname} ${osversion} ${osrelease} ${k} skip"
          done >> "${statefile}"
          for k in ${ignore_failed}; do
            echo "${osname} ${osversion} ${osrelease} ${k} softfail
          done >> "${statefile}"
          for k in ${failed}; do
            echo "${osname} ${osversion} ${osrelease} ${k} failure"
          done >> "${statefile}"
          echo "#### Successful builds for kernels: ${succeeded}";
          if [ "x${skipped}" != "x" ]; then
            echo "#### Skipped kernels: ${skipped}";
          fi
          if [ "x${allow_failed}" != "x" ]; then
            echo "#### Skipped failed kernels: ${allow_failed}";
          fi
          if [ "x${failed}" != "x" ]; then
            echo "#### Failed kernels: ${failed}";
            exit 1
          fi
      - name: Publish state
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.name }}
          path: buildstate.txt

  make_badges:
    if: always()
    needs: kmod-compile
    runs-on: ubuntu-latest
    steps:
      - name: get status artifacts
        uses: actions/download-artifact@v4
      - name: create badge
        shell: bash
        run: |
          find */ -type f -name "buildstate.txt" -exec grep -h . {} + | sort -u > allstates.txt
          numtests=$(grep -c . allstates.txt)
          echo -n > badge.svg
          echo '<?xml version="1.0" encoding="UTF-8"?> <svg xmlns="http://www.w3.org/2000/svg" width="333" height="@height@">' | sed -e "s|@height@|$((numtests*22))|g">> badge.svg
          echo '<style>.success {fill:#4C1} .skip {fill:#D3D3D3} .softfail {fill:#FE7D37} .failure {fill:#E05D44}</style> <g fill="#fff" text-anchor="left" font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="11"> <linearGradient id="b" x2="0" y2="100%"> <stop offset="0" stop-color="#bbb" stop-opacity=".1"/> <stop offset="1" stop-opacity=".1"/> </linearGradient>' | sed -e "s|@height@|$((numtests * 22))|g" >> badge.svg
          cat -n allstates.txt | while read num os _ version kernel state; do
            echo '<g transform="translate(0 @dy@)" mask="url(#anybadge_1)"> <path fill="#555" d="M0 0h148v20H0z"/> <path class="@state@" d="M148 0h185v20H148z"/> <path fill="url(#b)" d="M0 0h333v20H0z"/> <text x="9.0" y="15" fill="#010101" fill-opacity=".3">@os@/@version@</text> <text x="8.0" y="14">@os@/@version@</text> <text x="156.5" y="15" fill="#010101" fill-opacity=".3">@kernel@</text> <text x="155.5" y="14">@kernel@</text> </g>' | sed -e "s|@dy@|$((22*(num-1)))|g" -e "s|@state@|${state}|g" -e "s|@os@|${os}|g" -e "s|@version@|${version}|g" -e "s|@kernel@|${kernel}|g"
          done >> badge.svg
          echo '</g> </svg>' >> badge.svg
          cat badge.svg
      - name: deploy badge
        uses: exuanbo/actions-deploy-gist@v1
        with:
          token: ${{ secrets.GIST_SECRET }}
          gist_id: f877d3367ab47ffd2d203b1062c41825
          file_path: badge.svg
          file_type: text
        if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
